/* Generic CSS (CSS used throughout the app) */

* {
  box-sizing: border-box;
}

body, html {
  height: 100%;
}

.center {
  text-align: center;
}

.bold {
  font-weight: bold;
}


/* CSS for Login page */
.login_main {
  height: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login_main_div {
  padding: 15px;
  border-radius: 10px;
  background-color: rgba(0,0,0,0.8);
}

.login_heading {
  color: white;
}

.btn_div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.login_button {
  background-color: #3F658A;
  border-color: #3F658A;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 8px;
}

.login_button:hover {
  background-color: #8a483f;
}

.login_anchor {
  color: black;
}

/* CSS For Home Page */
.main_container {
  height: 100vh;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 20px;
/*  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 10px;
  grid-template-areas:
  "home_header home_header"
  "home_main home_aside"
  "footer footer";*/

}

.home_header {
  grid-area: home_header;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  background-image: url('/static/image/market.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.main_section {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
}

.home_main {
  grid-area: home_main;
  display: flex;
  flex-direction: column;
  flex: 2;
  align-items: center;
}

.home_aside {
  display: flex;
  flex-direction: column;
  flex: 2;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.home_title {
  background-color: rgba(0,0,0,0.8);
  color: white;
  padding: 15px;
  border-radius: 8px;
}


.btn_fix {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input_adjustment {
  margin-left: 20px;
}

footer {
  border-top: 2px solid black;
  grid-area: footer;
  text-align: center;
  margin-top: 25px;
}

.footer_div {
  padding-top: 25px;
}

/* CSS for stats page */

.stats_container {
  height: 100vh;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 10px;
  grid-template-areas:
  "stats_header stats_header"
  "stats_aside stats_main"
  "footer footer";
}

.stats_header {
  grid-area: stats_header;
  background-image: url('/static/image/stats.jpg');
  height: 400px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.stats_page_title {
  background-color: rgba(0,0,0,0.8);
  color: white;
  padding: 15px;
  border-radius: 8px;
}

.stats_main {
  grid-area: stats_main;
  border: 2px solid blue;
  display: flex;
  flex-direction: row;
}

.pounds {
  display: grid;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profit {
  display: grid;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.stats_aside {
  grid-area: stats_aside;
}

@media (max-width: 768px){

  .main_section {
    display: flex;
    flex-direction: column;
  }

  .check_out_heading {
    text-align: center;
  }

  .home_aside {
    margin-top: 25px;
    border-top: 2px solid black;
  } 

  .stats_container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "stats_header"
      "stats_aside"
      "stats_main"
      "footer";
    ;
  }

}















