/* Generic CSS (CSS used throughout the app) */

* {
  box-sizing: border-box;
}

body, html {
  height: 100%;
}

.center {
  text-align: center;
}

.bold {
  font-weight: bold;
}


/* CSS for Login page */
.login_main {
  height: 95%;
  background-color: #3F658A;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login_main_div {
  background-color: #8a5a3f;
  padding: 15px;
  border-radius: 10px;
}

.btn_div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.login_button {
  background-color: #3F658A;
  border-color: #3F658A;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 8px;
}

.login_button:hover {
  background-color: #8a483f;
}

.login_anchor {
  color: black;
}

/* CSS For Home Page */
.main_container {
  height: 100vh;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 20px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 10px;
  grid-template-areas:
  "header header"
  "main aside"
  "footer footer";

}

header {
  grid-area: header;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  background-image: url('/static/image/market.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.home_title {
  background-color: rgba(0,0,0,0.8);
  color: white;
  padding: 15px;
  border-radius: 8px;
}

main {
  border: 2px solid red;
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn_fix {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input_adjustment {
  margin-left: 20px;
}

aside {
  grid-area: aside;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid blue;
  padding: 10px;
}

footer {
  border: 3px solid green;
  grid-area: footer;
  text-align: center;
  margin-top: 25px;
}

@media (max-width: 768px){

  .main_container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "main"
      "aside"
      "footer";
  }

}















