{% extends 'base.html' %}

{% block body %}

<nav class="navbar-fixed navbar navbar-toggleable-md navbar-inverse bg-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Farm Market Register</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/signup">Stats</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/">Log Out</a>
      </li>
    </ul>
  </div>
</nav>

<div class='main_container'>

  <header>
    <h1 class='home_title'>Farmers Register</h1>
  </header>

  <main>
    <h1>Check Out Customer</h1> 
    <h3>Welcome {{ name }}</h3>
    <form method="POST" onsubmit="return validate();">
      <table>
          <tr><td class='center bold'>Food</td><td class='center bold'>Amount (lbs)</td></tr>
          <tr><td>Kale</td><td><input id='kale' name='kale_amount' class='input_adjustment'></td></tr>
          <tr><td>Collards</td><td><input id='collards' name='collard_amount' class='input_adjustment'></td></tr>
          <tr><td>Broccoli</td><td><input id='broccoli' name='broccoli_amount' class='input_adjustment'></td></tr>
          <tr><td>Spinach</td><td><input id='spinach' name='spinach_amount' class='input_adjustment'></td></tr>
      </table><br>
      <div class='btn_fix'>
        <button>Submit</button>
      </div>
    </form>
  </main>

  <aside>
    <h3 class='center'>Inspirational Quotes</h3>
    {% for quote in quotes %}
      <p>{{ quote }}</p>  
      <br>     
    {% endfor %}
  </aside>

  <footer>
     Copyright &copy; 2017 Mike Cuddy Productions
    <br/>
    <p>
        <a href="https://github.com/ravenusmc"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a>
        <a href="https://twitter.com/"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a>
        <a href="https://www.linkedin.com/in/mcuddy1/"><i class="fa fa-linkedin fa-2x" aria-hidden="true"></i></a>
    </p>
  </footer>

</div>




{% endblock %}