{% extends 'base.html' %}

{% block body %}

<nav class="navbar-fixed navbar navbar-toggleable-md navbar-inverse bg-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Farm Market Register</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/signup">Stats</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/">Log Out</a>
      </li>
    </ul>
  </div>
</nav>

<div class='main_container'>

  <header>
    <h1 class='home_title'>Farmers Register</h1>
  </header>

  <main>
    <h1>Check Out Customer</h1> 
    <h3>Welcome {{ name }}</h3>
    <form>
      <table>
          <tr><td class='center bold'>Food</td><td class='center bold'>Amount</td></tr>
          <tr><td><input type='checkbox' name='food' value='Kale'>Kale</td><td><input class='input_adjustment'></td></tr>
          <tr><td><input type='checkbox' name='food' value='Collards'>Collards</td><td><input class='input_adjustment'></td></tr>
          <tr><td><input type='checkbox' name='food' value='Broccolo'>Broccoli</td><td><input class='input_adjustment'></td></tr>
          <tr><td><input type='checkbox' name='food' value='Spinach'>Spinach</td><td><input class='input_adjustment'></td></tr>
      </table><br>
      <button>Submit</button>
    </form>
  </main>

  <aside>
    <h3 class='center'>Inspirational Farming Quotes</h3>
    <p>
      <q>Farming looks mighty easy when your plow is a pencil and you're a thousand miles from the corn field.</q>
      -Dwight D. Eisenhower
    </p>
    <br>
    <p>
      <q>The more we pour the big machines, the fuel, the pesticides, the herbicides, the fertilizer and chemicals into farming, the more we knock out the mechanism that made it all work in the first place.</q>
      -David R. Brower
    </p>
  </aside>

  <footer>
     Copyright &copy; 2017 Mike Cuddy Productions
    <br/>
    <p>
        <a href="https://github.com/ravenusmc"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a>
        <a href="https://twitter.com/"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a>
        <a href="https://www.linkedin.com/in/mcuddy1/"><i class="fa fa-linkedin fa-2x" aria-hidden="true"></i></a>
    </p>
  </footer>

</div>




{% endblock %}