{% extends 'base.html' %}

{% block body %}

<nav class="navbar-fixed navbar navbar-toggleable-md navbar-inverse bg-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Farm Market Register</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Log Out</a>
      </li>
    </ul>
  </div>
</nav>

<div class='main_container'>

  <header>
    <h1 class='home_title'>Farmers Register</h1>
  </header>

  <main>
    <h1>Food Options</h1> 
  </main>

  <aside>

  </aside>

  <footer>
    <h1 class='center'>Made by Mike</h1>
  </footer>

</div>




{% endblock %}