{% extends 'base.html' %}

{% block body %}
<style>

  div.bar {
      display: inline-block;
      width: 30px;
      height: 75px; /* Gets overriden by D3-assigned height below */
      margin-right: 2px;
      background-color: red;
  }

</style>
<script src="https://d3js.org/d3.v4.min.js"></script>
<!-- <script src="//d3js.org/d3.v3.min.js"></script> -->

<nav class="navbar-fixed navbar navbar-toggleable-md navbar-inverse bg-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Farm Market Register</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/stats">Stats</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/">Log Out</a>
      </li>
    </ul>
  </div>
</nav>

<div class='stats_container'>

  <header class='stats_header'>
    <h1 class='stats_page_title'>Welcome to the Stats Page</h1>
  </header>

  <aside class='stats_aside'>
    <h1 class='center'>Basic information</h1>
    <h3>Pounds Sold:</h3>
    <ul>
      {% for name, pound in pounds.items() %}
        <li>{{ name }}: {{ pound }} Lbs</li>
      {% endfor %}
    </ul>
    <p>Total poundage of food sold: {{ total_lbs }}</p>

    <h3>Money Earned:</h3>
    <ul>
      {% for name, profit in profit.items() %}
        <li>{{ name }}: ${{ profit }}</li>
      {% endfor %}
    </ul>
    <p>Total Profit: {{ total_dollar_amount }}</p>
  </aside>

  <!-- <main class='stats_main'> -->
  <main>
    <div class='pounds'>
      <h1>Poundage Data</h1>
    </div>
  </main>

<!--       <div class='profit'>
      <h1>Profit Data</h1>
    </div> -->


  <footer class='stats_footer'>
     Copyright &copy; 2017 Mike Cuddy Productions
    <br/>
    <p>
        <a href="https://github.com/ravenusmc"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a>
        <a href="https://twitter.com/"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a>
        <a href="https://www.linkedin.com/in/mcuddy1/"><i class="fa fa-linkedin fa-2x" aria-hidden="true"></i></a>
    </p>
  </footer>

</div>

<script type="text/javascript">

  //Global variables 
  var poundDataArray =[]; //This array will hold an array of objects
  var w = 300;
  var h = 350;
  var barPadding = 1;
  var margin = {top: 5, right: 200, bottom: 70, left: 25}

  //This code receives the data and builds the data the way that I want it. 
  
  //This funcion will receive the pound data. 
  function recievingData(pound_data){
    return pound_data
  }
  
  //This function will convert my pound_data object into an array of objects. This may be easier for me at the current
  //time to work with D3.js. 
  function turnToObject(pound_data){
    for (i in pound_data){
      poundDataArray.push({Food: i, Pounds: pound_data[i]});
    }
    return poundDataArray;
  }

  var pound_data = recievingData({{ pound_data|safe }})

  poundDataArray = turnToObject(pound_data);


  // Code below here builds D3.JS graphs 
  
  //X-Axis Code
  var xScale = d3.scaleLinear()
                .domain([0,4])
                .range([0,300]);

  var xAxis = d3.axisBottom()
                .scale(xScale)
                .ticks(4);

  //Y-Axis Code
  var yScale = d3.scaleLinear()
                //Larger number is on the left because if not then the y axis will 
                //start with 0 at the top. 
                 .domain([100, 0])
                 //This appears to move the y axis itself up and down
                 .range([0, 300]);

  var yAxis = d3.axisLeft()
                .scale(yScale)
                .ticks(5);

  //Creating SVG element 
  var svg = d3.select(".pounds")
              .append('svg')
              .attr("width", w)
              .attr('height', h)
              .append("g")
                .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

  svg.selectAll("rect")
      .data(poundDataArray)
      .enter()
      .append("rect")
      //This moves the bars left or right, larger numbers to the right.
      //i is essentially the index of the data length. A value of simply 
      //i will have all of the bars right on top of each other. 
      .attr('x',  function(d, i){
        return i * (w / poundDataArray.length);
      })
      //This line flips the bar right side up. (Basically, graph may be upside down)
      .attr('y', function(d) {
        return h - d.Pounds;
      })
      //This changes the width of the bars
      .attr('width', w / poundDataArray.length - barPadding)
      .attr('height', function(d){
        return d.Pounds;
      })
      .attr('fill', 'steelblue');

  // svg.selectAll('text')
  //     .data(poundDataArray)
  //     .enter()
  //     .append('text')
  //     .text(function(d){
  //       return d.Pounds;
  //     })
  //     .attr('fill', 'black')
  //     //This moves the text to the left and right. Larger numbers to the right.
  //     .attr('x',  function(d,i){
  //       return i * 43;
  //     })
  //     //This moves the text up and down. 
  //     .attr('y', function(d){
  //       return h - (d.Pounds * 5) - 10;
  //     });

  //Creating X axis
  var xAxisGroup = svg.append("g")
                      .attr("transform", "translate(0," + 300 + ")")
                      .call(xAxis)
                      .selectAll("text")
                      .data(poundDataArray)
                      .text(function(d){
                          return d.Food;
                      })
                      .style("text-anchor", "end")
                      .attr("dx", "-.8em")
                      .attr("dy", "-.55em")
                      .attr("transform", "rotate(-60)" );

  //Create Y axis
  svg.append("g")
      .attr("class", "axis")
      .call(yAxis);

</script>

<script src='{{ url_for('static', filename='js/pounds.js') }}'></script>
{% endblock %}