{% extends 'base.html' %}

{% block body %}

<nav class="navbar-fixed navbar navbar-toggleable-md navbar-inverse bg-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Farm Market Register</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/stats">Stats</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/">Log Out</a>
      </li>
    </ul>
  </div>
</nav>

<div class='stats_container'>

  <header class='stats_header'>
    <h1 class='stats_page_title'>Welcome to the Stats Page</h1>
  </header>

  <aside class='stats_aside'>
    <h1>Basic information</h1>
  </aside>

  <main class='stats_main'>
    <h1>Main Area</h1>
  </main>


  <footer class='stats_footer'>
     Copyright &copy; 2017 Mike Cuddy Productions
    <br/>
    <p>
        <a href="https://github.com/ravenusmc"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a>
        <a href="https://twitter.com/"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a>
        <a href="https://www.linkedin.com/in/mcuddy1/"><i class="fa fa-linkedin fa-2x" aria-hidden="true"></i></a>
    </p>
  </footer>

</div>


{% endblock %}