{% extends 'base.html' %}

{% block body %}
<style>

  div.bar {
      display: inline-block;
      width: 30px;
      height: 75px; /* Gets overriden by D3-assigned height below */
      margin-right: 2px;
      background-color: red;
  }

</style>
<script src="https://d3js.org/d3.v4.min.js"></script>
<!-- <script src="//d3js.org/d3.v3.min.js"></script> -->

<nav class="navbar-fixed navbar navbar-toggleable-md navbar-inverse bg-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Farm Market Register</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/stats">Stats</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/">Log Out</a>
      </li>
    </ul>
  </div>
</nav>

<div class='stats_container'>

  <header class='stats_header'>
    <h1 class='stats_page_title'>Welcome to the Stats Page</h1>
  </header>

  <aside class='stats_aside'>
    <h1 class='center'>Basic information</h1>
    <h3>Pounds Sold:</h3>
    <ul>
      {% for name, pound in pounds.items() %}
        <li>{{ name }}: {{ pound }} Lbs</li>
      {% endfor %}
    </ul>
    <p>Total poundage of food sold: {{ total_lbs }}</p>

    <h3>Money Earned:</h3>
    <ul>
      {% for name, profit in profit.items() %}
        <li>{{ name }}: ${{ profit }}</li>
      {% endfor %}
    </ul>
    <p>Total Profit: {{ total_dollar_amount }}</p>
  </aside>

  <main class='stats_main'>
    <div class='pounds'>
      <h1>Poundage Data</h1>
    </div>
    <div class='profit'>
      <h1>Profit Data</h1>
    </div>
  </main>


  <footer class='stats_footer'>
     Copyright &copy; 2017 Mike Cuddy Productions
    <br/>
    <p>
        <a href="https://github.com/ravenusmc"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a>
        <a href="https://twitter.com/"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a>
        <a href="https://www.linkedin.com/in/mcuddy1/"><i class="fa fa-linkedin fa-2x" aria-hidden="true"></i></a>
    </p>
  </footer>

</div>

<script type="text/javascript">

  //Global variables 
  let poundDataArray =[]; //This array will hold an array of objects
  let w = 300;
  let h = 300;
  let barPadding = 1;

  // let yScale = d3.scaleLinear()
  //          .domain([0, 30])
  //          .range([1, 30]);

  // let yAxis = d3.axisLeft()
  //           .scale(yScale)
  //           .ticks(4);
  
  //This funcion will receive the pound data. 
  function recievingData(pound_data){
    return pound_data
  }
  
  //This function will convert my pound_data object into an array of objects. This may be easier for me at the current
  //time to work with D3.js. 
  function turnToObject(pound_data){
    for (i in pound_data){
      poundDataArray.push({Food: i, Pounds: pound_data[i]});
    }
    return poundDataArray;
  }

  let pound_data = recievingData({{ pound_data|safe }})

  poundDataArray = turnToObject(pound_data);


  /////Book examples
  // var scale = d3.scale.linear()
  //                     .domain([0, d3.max(poundDataArray, function(d){return d.Pounds;})])
  //                     .range([0,w])

  // // console.log(scale(100))
  // d3.max(poundDataArray, function(d){
  //   console.log(d.Pounds);
  // })
  ///// END book examples

  // var axisScale = d3.scale.linear()
  //                         .domain([0,4])
  //                         .range([0,200]);

  // var xAxis = d3.svg.axis()
  //                   .scale(axisScale);
  
  var axisScale = d3.scaleLinear()
                          .domain([0,4])
                          .range([0,200]);

  var xAxis = d3.axisBottom()
                .scale(axisScale)
                .ticks(4);

  //Creating SVG element 
  var svg = d3.select(".pounds")
              .append('svg')
              .attr("width", w)
              .attr('height', h);

  svg.selectAll("rect")
      .data(poundDataArray)
      .enter()
      .append("rect")
      //This moves the bars left or right
      .attr('x',  function(d,i){
        return i * 40;
      })
      //This line flips the bar right side up.
      .attr('y', function(d){
        return h - (d.Pounds * 5);
      })
      //This changes the width of the bars
      .attr('width', 35)

      .attr('height', function(d){
        return d.Pounds * 10;
      })
      .attr('fill', 'steelblue')

  svg.selectAll('text')
      .data(poundDataArray)
      .enter()
      .append('text')
      .text(function(d){
        return d.Pounds;
      })
      .attr('fill', 'black')
      .attr('x',  function(d,i){
        return i * 41;
      })
      .attr('y', function(d){
        return h - (d.Pounds * 5) - 5;
        //return h - (d.Pounds * 4) + 15;
      });

  var xAxisGroup = svg.append("g")
                      .attr("transform", "translate(0," + 200 + ")")
                      .call(xAxis)
                      .selectAll("text")
                      .data(poundDataArray)
                      .text(function(d){
                          return d.Food;
                      })
                      .style("text-anchor", "end")
                      .attr("dx", "-.8em")
                      .attr("dy", "-.55em")
                      .attr("transform", "rotate(-45)" );

  //Create Y axis
  // svg.append("g")
  //     .attr("class", "axis")
  //     .attr("transform", "translate(" + 0+ ",0)")
  //     .call(yAxis);
  // });


</script>

{% endblock %}